<form class="example-form" (ngSubmit)="onEditUser()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControl]="nameFormControl"
           placeholder="Ingresar Nombre" [value]="user.name">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is <strong>requerid</strong>
    </mat-error>
  </mat-form-field>
  <button type="submit"[disabled]=" (nameFormControl.pristine || nameFormControl.invalid)" mat-fab extended color="primary">
    Guardar
  </button>
</form>
